{% extends "learning/base.html" %}

{% block title %}
Learning Index
{% endblock %}

{% block body %}
    <h1>Learning List</h1>
    <ul>
{#    <li>#}
{#        <a href="{{ url 'learning: }}"#}
{#    </li>#}
    <li>
    <a href="{% url 'learning:teachers_list' %}">Teachers</a>
    </li>
    <li>
    <a href="{% url 'learning:students_list' %}">Students</a>
    </li>
    <li>
        <a href="{% url 'learning:course_list' %}">Courses</a>
    </li>
</ul>
    <div>
        <a href="{% url 'main_page' %}">Go to first page</a>
    </div>
{% endblock %}
